    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #232829;
        --color01: #232829;
        --color02: #232829;
        --color03: #d6dcdb;
        --color04: #dcd6d6;
        --color05: #dcd6d6;
        --color06: #dcd6d6;
        --color07: #dcd6d6;
        --color08: #dcd6d6;
        --color09: #93b3a6;
        --color10: #c8dad3;
        --color11: #98b3a3;
        --color12: #98b3b3;
        --color13: #85abbc;
        --color14: #bea7b0;
        --color15: #93b3a6;
    }
